.table {
    
  border: 2px solid;

background-color: purple;

  width: 100%;
}

.h1 h1 {
font-family: Rockwell Extra Bold, Helvetica, sans-serif;
}

.table td{

  border: 2px solid black;

background-color: MediumSlateBlue;

  padding: 12px;
}


.table tr{
border: 2px solid black;

background-color: lightblue;

  padding: 8px;
}


.body
{
font-family: Cursive, Helvetica, sans-serif;
}

.table th{
  padding-top: 12px;

  padding-bottom: 12px;

  text-align: left;

  background-color: DodgerBlue;

  color: black;

}

a:hover
{
 background-color: white;
}

a:visited
{
 background-color: lightpurple;
}

a:active{
text-align: underline;
background-color: LightSteelBlue;
}

a:link{
text-align: underline;
background-color: LightSkyBlue;

}  